@use "../base/variables" as *;
@use "../base/mixins";

// GLOBAL
button {
  border-radius: $radius-sm;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}

.project-card-button{
  color: $color-text;
  margin: $space-sm;
  padding: $space-sm;
  border-radius: $radius-sm;
  border: solid 1px $color-border-subtle;
}

.submit-btn-container{
  display: flex;
  justify-content: flex-end;
}

.whatsapp-btn-container {
  min-height: fit-content;
  width: fit-content;
  background-color: transparent;
}

.whatsapp-btn {
  min-height: fit-content;
  margin: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  color: $blue-500;
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: $radius-sm;
  border: solid 2px $color-border-subtle;
  font-weight: bold;
}

.logo-whatsapp {
  background-color: transparent;
  margin-left: 0.3rem;
  color:$blue-500;
}