@import '../base/variables';
@import '../base/mixins';

.cv-button{
display: flex;
flex-direction: column;
align-items: center;
background-color: $color-text;
color:$button-text;
margin-right: $space-lg;
}

.button-cv-icon {
width: 5rem;
height: auto;
background-color: $color-text;
}

.contact-button{
display: flex;
flex-direction: column;
align-items: center;
background-color: $color-text;
color:$button-text;
height: fit-content;
margin-left:$space-lg;
}
.button-contact-icon{
width: 5rem;
height: auto;
background-color: $color-text;
}

