@use "../base/variables" as *;
@use '../base/tipograpy' as *;
@use "../base/mixins";

// GLOBAL
button {
  border-radius: $radius-sm;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}

.project-card-button{
 
  color: $color-text;
  margin: $space-sm;
  padding: $space-sm;
  border-radius: $radius-sm;
  border: solid 1px $color-border-subtle;
  font-family: 'Outfit', sans-serif;
  &:Hover{
    box-shadow: $box-shadow;
    color:$blue-500;
  }
}

.project-card-button--disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.submit-btn-container{
  display: flex;
  justify-content: flex-end;
}

.whatsapp-btn-container,.send-msg-btn {
  min-height: fit-content;
  width: fit-content;
  background-color: transparent;
}

.whatsapp-btn, .send-msg-btn {
  font-family: 'Outfit', sans-serif;
  min-height: fit-content;
  margin: $space-sm;
  padding: $space-sm;
  color: $color-text;
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: $radius-sm;
  border: solid 2px $color-border-subtle;
  font-weight: $font-weight-semibold;
  &:Hover{
    box-shadow: $box-shadow;
    border: 1px solid $blue-500;
    color: $blue-500;
  }
}

.logo-whatsapp {
  background-color: transparent;
  margin-left: 0.3rem;
  color:$blue-500;
}