.footer {
    background-color: #f2f2f2;
    padding: 1%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    position:relative;
    width: auto;
    height: auto;
    margin-top: auto;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
    list-style: none;
  }
  .footer-btn:hover {
    background-color: #373c37;
    color:#a7a8a7;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  .footer-links li {
    margin: 0 10px;
  }
  .footer p {
    font-size: 1rem;
  }
  .footer-btn {
  
    color: #cd0000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    font-size: 1rem;
    font-weight: 400;
    line-height: var(--bs-body-line-height);
    width:fit-content;
  }
  .social-icon {
    width: 45px;
    height: 45px;
    margin: 0;
    padding:1%;
  }
  .social-icon:hover {
    background-color: #cd0000;
    transition: all 0.3s ease;
    margin:0;
    border-radius: 5px;
  }