@import '../base/variables';
@import '../base/mixins';


.header{
    background-color: #050505;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
    //fixed in alto alla pagine rimane visibile anche scrollando
    position: fixed;
    width: 100%;
    z-index: 100; //Assicura che stia sopra tutto il resto
    top:0;
    left:0;
}

.logo-img{
    width: 2rem;
    height: auto;
    float:left; //Posizionamento a sinistra
    padding:$space-md;
    margin-top: $space-md;
    background-color: transparent;
    cursor: pointer;
}

ul {
    margin:0;
    padding:0;
    list-style:none; //Rimuove i bullet points
    overflow:hidden;
    background-color: $color-text;
}

li{
    display:block;
}

ul a,
ul button {
    display:block; //Per occupare tutta l'area cliccabile
    padding: $space-lg;
    text-decoration:none; //Rimuove sottolineatura
    background: none;
    border: none;
    color:$button-text;
    font-size: 1rem;
    width: 100%;
    text-align:left;
}

ul a:hover,
ul button:hover {
    background-color: #292929; //Cambia background all'hover
    color: $color-text;
    transition: background-color 0.3s ease, color 0.3s ease;
}

// =========================================================
// MENU MOBILE (NASCOSTO DI DEFAULT)
// =========================================================

.menu {
    clear: both; //Clear dei float
    max-height:0; //Quando diventa .menu-opn, max-height diventa 250px
    transition: max-height 0.5s ease-out;
    overflow: hidden; //Nasconde il contenuto che supera max-height
    
}

.menu .menu-open{
    height: 500px !important; //Quando il menu è aperto ottiene altezza fissa
}

// =========================================================
// ICONA BURGER-MENU
// =========================================================

.menu-icon{
    padding: $space-lg;
    position:relative;//Per contenere il nav-icon absolute
    float: right;
    cursor:pointer;
    background-color:#050505;
}
.nav-icon{
    background-color: $color-text;
    display: block; //Necessario per width e height
    
    //Disegno l'icona a partire dalle righe
    width: 18px;
    height: 2px;

    position:relative; //Per contenere i ::before e ::after
    transition: background-color 0.5s ease-out;
    &::before,
    &::after{
        background-color: $color-text;
        content:""; //Content vuoto per mostrare i pseudo-elementi
        display: block;
        //Imposto 100% per eguagliare le dimensioni della linea centrale
        height:100%; 
        width:100%;
        transition: all 0.5s ease-out;
        position: absolute;// per posizionarle rispetto a .nav-icon
    }
    //Posiziono le linee superiore ed inferiore 5px sopra la centrale
    &::before {
        top: 5px;
    }
    &::after{
        top: -5px;
    }
}
//----------ANIMAZIONE BURGER -> X ----------

.nav-icon.active {
    background-color: transparent; //La linea centrale diventa trasparente
    //Le linee superiore ed inferiore ruotano di +/- 45° formando una "X"
    &::before{
        transform: rotate(-45deg);
        top: 0; //Si sposta a top 0 (stesso livello linea centrale)
    }
    &::after{
        transform: rotate(45deg);
        top:0;
    }
}

// =========================================================
// ICONA BURGER-MENU
// =========================================================

@media (min-width: 48em){ //48em = 768px
    li{
    float:left;
    }
    
    li a,
    li button{
    padding: $space-lg $space-xl; //Padding orizzontale ampio su desktop
    }

    .menu {
    clear:none; //Per consentire il float
    float:right;
    max-height:none !important; //MENU Sempre visibile su desktop quindi forzo max-height
    display: block;
    overflow: visible; //Mostra tutto il contenuto
}

.menu-icon{
    display: none; //Nascondo il burger menu su desktop
}
}

// =========================================================
// DROPDOWN BOTTONE CV
// =========================================================

.has-dropdown {
    position: relative;
    .dropdown{
        position:absolute;
        top:100%;
        left: 0;
        background-color:#292929;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        padding:0;
        margin:0;
        list-style: none;
        min-width: 200px; //Per evitare che il testo fuoriesca
        border-radius: 5px;
        z-index:200;

        li{
            float: none; //Rimuove il float su .header li
            button {
                color:$color-text;
                padding: $space-sm $space-md;
                width: 100%;
                text-align: left;

                &:hover{
                    background-color: #1a1a1a;
                    color: $button-text;
                }
            }
        }
    }
}