// _project-card.scss
@use '../base/variables' as *;
@use '../base/mixins'as *;

#projects{
  display: flex;
  flex-wrap: wrap;
}

.projects-cards{
    display:flex;
    flex-direction: row;
    overflow: scroll;
    width: 25rem;
    
    @include respond (sm) {
      width: 60rem;
      margin-left: 2rem;
    }
}
// Container della card
.project-card {
  border: solid 1px $blue-500;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  min-width: 25vw;
  height: fit-content;
}

// Titolo
.project-card-title { 
  background-color: transparent;
  font-size: 1.5rem;
}

// Logo
.project-card-logo { 
  width: 4rem;
  background-color: transparent;
  padding:0.25rem;
  margin: 0;
}

// Container dei tag
.project-card-tags { 
  display: flex;
  gap: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: transparent;
  justify-content: center;
}

// Stile base per ogni singolo tag
.project-card__tag { 
  padding: 0.5rem;
  border-radius: 8px;
  border:$border-hover;
  display: inline-block;
  color: #fff;
  background-color: #718096; // Colore di default
  margin:0.2rem;
}


@each $tag, $color in $tag-colors {
  .project-card__tag--#{$tag} {
    background-color: $color;
  }
}

// Descrizione
.project-card__description {
  margin-bottom: 1rem;
  color: $color-text;
}

// Bottone
.project-card__button { 
  background-color: $button-background;
  color: $button-text;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-hover;
  }
}