@use "../base/variables" as *;
@use "../base/mixins" as m;
@use "../base/global";
@use "../components/buttons";

.contact-title {
  margin-top: 8rem;
}

.contact-page{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    @include m.respond (md) {
      flex-direction: row;
  }
}

.contct-me-hero-img{
  width: 40%;
  height: auto;
  margin: 2rem;
}
.contact-form{
    background-color: transparent;
}
p{
    background-color: transparent;
}

.contact-me-hero-img{
  width: 50%;
  display: flex;
  flex-direction: row;
  height: auto;
  border-radius: 5px;
  box-shadow: $box-shadow;
  @include m.respond (sm){
    flex-direction: column;
  }
}

.container-form {
display: flex;
text-align: left;
flex-direction: column;
padding: 0.25rem;
border-radius: 8px;
margin: 2rem;
}
  @media screen and (max-width: 400px) {
    .wrap-form-container {
      width: 100%;
      margin-left: 0;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #68666661;
      box-shadow: $box-shadow;
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
  .form-text {
    display: flex;
    flex-direction: column;
    padding:1rem;
    border-radius: 8px;
    width: auto;
    border: solid 1px $color-border-subtle;
  }
  
  .field {
    margin: 1%;
    padding: 1%;
  }
  
.field label {
display: block;
font-size: 15px;
font-weight: bold;
color: #868585;
margin: 0 0 0.5rem;
padding: 0.5rem;
text-align: left;
width: fit-content;
background-color: transparent;
}
  
.field input {
  background-color: transparent;
display: block;
min-width: 90%;
line-height: 1.5;
font-size: 14px;
border: solid 2px $color-border-subtle;
border-radius: 8px;
width: 95%;
height: 2.5rem;
padding: 0.25rem;
}

#message {
  background-color: transparent;
min-width: 95%;
border-radius: $radius-sm;
border: solid 2px $color-border-subtle;
padding: 0.25rem;
}
