@use "../base/variables" as *;
@use "../base/mixins" as *;
@use '../base/tipograpy' as*;
@use "../base/global";
@use "../components/buttons";

.contact-page{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    @include respond (md) {
      flex-direction: row;
  }
}

.contct-me-hero-img{
  width: 40%;
  height: auto;
  margin: 2rem;
}
.contact-form{
    background-color: transparent;
}
p{
    background-color: transparent;
}

.contact-me-hero-img{
  width: 50%;
  display: flex;
  flex-direction: row;
  height: auto;
  border-radius: 5px;
  box-shadow: $box-shadow;
  @include respond (sm){
    flex-direction: column;
  }
}

.container-form {
display: flex;
flex-direction: column;
justify-content: center;
padding: $space-sm;
border-radius: $radius-sm;
margin: $space-xl 0;
min-height: 100vh;
max-width: 100vw;
}
  .form-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding:1rem;
    border-radius: $radius-sm;
    width: auto;
    border: solid 1px $color-border-subtle;
  }
  
  #name, #email, #message {
    color:$color-text;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.65rem;
  }

  #name, #email{
    min-height: $space-xl;
    background-color: $dark-transparency;
  }

  #message{
    min-height: 10rem;
    background-color: $dark-transparency;
  }
  
  .field {
    margin: 1%;
    padding: 1%;
  }
  
.field label {
display: block;
font-size: 15px;
font-weight: bold;
color: #868585;
margin: 0 0 0.5rem;
padding: 0.5rem;
text-align: left;
width: fit-content;
background-color: transparent;
}
  
.field input {
background-color: transparent;
display: block;
min-width: 90%;
line-height: $line-height-tight;
font-size: $space-xs;
border: solid 2px $color-border-subtle;
border-radius: $radius-sm;
width: 95%;
height: $space-lg;
padding: $space-xs;
color: $text-label;
}

#message {
background-color: transparent;
min-width: 95%;
border-radius: $radius-sm;
border: solid 2px $color-border-subtle;
padding: 0.25rem;
}
