@use '/src/styles/base/variables' as v;
@use '/src/styles/base/mixins';


@media screen and (max-width:680px) {
  .cv-page{
    width: 100vw;
  };
  
}
.language-icon{
    width: 50px;
    height: auto;
    margin: 2%;
}
.h1{
  margin: 1rem;
}

.hero-img-container{
  background-image: url("/src/assets/images/CV-img/code-background.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(5px), brightness(0.8), contrast(1.2);
  backdrop-filter: blur(5px), brightness(0.8), contrast(1.2);
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  
}
.nicola-coding-img{
    width: 25%;
    height: auto;
    box-shadow: rgba(109, 0, 0, 0.684) 1 0 0;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 200px;
    border: solid 5px #6d0000;
}

.CV-hero-container {
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    border-radius: 5px;
  }
  
.wrap-education-hero {
  margin-top: 5rem;
  color: v.$color-text;
  font-size:30px;
}


  .CV-hero-master {
    background-color: rgba(132, 134, 135, 0.467);
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: flex-start;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
  }
  
  @media screen and (min-width: 650px) {
    .CV-hero-master {
      display: block;
      height: fit-content;
      margin: 1%;
      padding: 1%;
      position: relative;
      justify-content: left;
      text-align: left;
      transition: transform 0.5s;
    }
  }
  .logo-s2i-extended {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    position: relative;
    width: 15rem;
    height: auto;
    margin:1rem;
  }
.macbook-mockup{
  width: 20rem;
  height:auto;
  margin: 0 auto;
  @include mixins.respond (sm) { 
    width: 32rem; 
  }
}

.Master-description {
display: flex;
flex-direction: column;
justify-content: left;
position: relative;
width: fit-content;
height: auto; 
}

  .start2Impact-container{
    display: flex;
    flex-direction: column;
    
    position: relative;
    @media screen and (min-width: 650px) {
      flex-direction: row;
      
    }
 
  }
  .institute-title{
    margin:1rem;
    width: fit-content;
  }
 
.wrap-master-gif{
  display: block ruby;
  border-radius: 8px;
}

@media screen and (max-width: 680px) {
  .wrap-master-gif{
    display:flex;
    flex-direction: column;
  }
  
  
}



  .sliders-picture {
    width: 20rem;
    height: 20rem;
    margin:2rem;
  }