@import '../base/variables';
@import '../base/mixins';

.portfolio-bio{
    margin-top:10rem;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    align-items: center;

    @include respond (md) { // larghezza minima (≥768px)
        display:flex;
        flex-direction: column;
    }
    @include respond (lg) {

    }
    @include respond (xl){

    }
}

.profile-picture {
    width: 10rem;
    height: 10 rem;
    margin: 2rem;
}

.bio-title{
    margin: 2rem;
    align-items: center;
}
.bio-text{
    display:flex;
    flex-direction: column;
    text-align: left;
}

.home-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    margin: 2rem;
}