//Importo i files di stile di base
@use './base/global';
@use './base/mixins';
@use './base/variables';
@use './components/buttons';

//Importo i files di stile dei componenti
@use './components/footer';
@use './components/navbar';
@use './components/project-card';
@use './components/backround-glow';

//Importo i files di stile delle pagine
@use './pages/home';
@use './pages/contact';

* {
font-family: 'Montserrat', sans-serif;
text-decoration: none;
list-style: none;

}


body {
    background-color: variables.$color-background;
    color: variables.$color-text;
  }