//Importo i files di stile di base
@use './base/global';
@use './base/mixins';
@use './base/variables';
@use './components/buttons';

//Importo i files di stile dei componenti
@use './components/footer';
@use './components/navbar';
@use './components/project-card';

//Importo i files di stile delle pagine
@use './pages/home.scss';
@use './pages/contact.scss';
@use './pages/CV.scss';

* {
background-color: variables.$color-background;
color: variables.$color-text;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
list-style: none;

}
