// Breakpoints - taglie dello schermo "$sm" = small; "$md" = medium.. ecc
$xs: 320px;   // Extra small: smartphone < 350px 
$sm: 480px;   // Small: smartphone
$md: 768px;   // Medium: tablet
$lg: 1024px;  // Large: laptop
$xl: 1440px;  // Extra large: monitor desktop

// Spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;

// PALETTE COLORI

$color-background: #212121;
$color-text: #a7a8a7;

// Palette bottoni
$button-text: #842132;
$button-background: #a7a8a7;
$button-hover: #313030;
$box-shadow-red: 0 2px 2px 2px rgba(187, 31, 31, 0.4);
$border-hover: 1px solid rgba(174, 9, 9, 0.82);

//Colori tag
$tag-colors: (
  'HTML': #e34c26,
  'CSS': #1572b6,
  'JavaScript': #f7df1e,
  'React': #61dafb,
  'API': #00d8ff,
  'Responsive': #38b2ac,
  'Mobile-first': #805ad5,
  'caching': #ed8936
);